.Accordion {
  &__header {
    font-weight: bold;
  }

  &__list {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    padding-left: 40px;
  }

  &__chartWords {
    float: left;
    height: 250px;
    margin: 7px 7px 7px 0;
    object-fit: contain;
    width: 400px;
  }
}

@media (max-width: 500px) {
  .Accordion__chartWords {
    height: 200px;
    margin: 5px 5px 5px 0;
    width: 250px;
  }
}
