.Accordion {
 padding-left: 10px;
}

.Accordion__list-tittle {
  margin-left: 10px;
}

.Accordion__list {
  margin-left: 40px;
}

.AccordionHeader {
  font-weight: bold;
}

.Accordion__paragrap {
  text-align: justify;
}