.PromoPage {
  &__wrapper {
    margin: 0 20px 20px;
    max-width: 1200px;
  }

  &__textContainer {
    margin: 0 40px;
  }

  &__accordion {
    margin: 0 auto 20px;
  }

  &__videoContainer {
    background-color: #f00;
    height: 300px;
    margin: 0 40px 0 auto;
    width: 300px;
  }

  &__game-header {
    font-weight: 700;
  }

  &__disclaimer-header {
    color: #ff0505;
    font-weight: 700;
  }

  &__player-container {
    height: 25%;
    margin: 0 auto;
    max-width: 600px;

    @media (max-width: 500px) {
      height: 15%;
      max-width: 300px;
    }
  }

  &__wrapper-icon-link {
    height: max-content;
    margin: 0 auto;
    width: max-content;
  }

  &__img-git {
    background-size: cover;
  }
}
