$white-color: #fff;
$white-color-transparent: #ffffffc2;

$hidden-word-bg: #7fbdf7;
$color-card-hover: #adcbff70;
$black-color: #000;

$green-color: #3fd18f;
$red-color: #f30;
$orange-color: #fd8642;
$input-text-color: #456d52;

$learning-fail-color: #ff0606;
$learning-bad-color: #f80;
$learning-normal-color: #ddd900;
$learning-good-color: #0f2;
$learning-excellent-color: #8c00ff;
