$white-color: #fff;
$white-color-transparent: #ffffffc2;

$hidden-word-bg: #7fbdf7;
$color-card-hover: #adcbff70;
$black-color: #000;

$green-color: #3fd18f;
$red-color: #f30;
$orange-color: #fd8642;
$input-text-color: #456d52;
