.Student {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 15px;
  width: min-content;

  &__wrapper-mentor {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    width: 100%;
  }

  &__wrapper-developer {
    width: min-content;
  }

  &__header-mentor,
  &__header-team-leader,
  &__header-developer {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
  }

  &__header-developer {
    justify-content: center;
  }

  &__header-mentor::before,
  &__header-team-leader::before,
  &__header-developer::before {
    content: '';
    height: 20px;
    left: 2px;
    position: absolute;
    top: calc(50% - 10px);
  }

  &__header-mentor::before {
    background: url('../../img/mentor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    left: 6px;
    width: 40px;
  }

  &__header-team-leader::before {
    background: url('../../img/team-lider.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: 30px;
  }

  &__header-developer::before {
    background: url('../../img/developer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: 30px;
  }

  &__contribution {
    height: 105px;
    padding: 0 10px;
    text-align: justify;
  }

  &__contribution-void {
    height: 0;
  }

  &__img-git {
    background-size: cover;
  }

  &__img-student {
    background-size: contain;
    height: 200px;
    margin-bottom: 15px;
    object-fit: contain;
    width: 200px;
  }

  &__name-student {
    font-size: 16px;
    text-align: center;
  }

  &__wrapper-icon-link {
    height: max-content;
    margin: 0 auto;
    width: max-content;
  }
}

@media (max-width: 500px) {
  .Student {
    &__name-student {
      height: 64px;
    }

    &__header-mentor::before,
    &__header-team-leader::before,
    &__header-developer::before {
      display: none;
    }

    &__img-student {
      height: 150px;
      width: 150px;
    }

    &__img-git {
      height: 40px;
      width: 40px;
    }
  }
}
