.CardStudent {
  margin: 30px;
  width: min-content;
}

.ImgStudent {
  height: 300px;
  width: 300px;
}

.NameStudent {
  margin: 50px 0;
  text-align: center;
}

.LinkIconWrapper {
  height: max-content;
  margin: 0 auto;
  width: max-content;
}





