.CardStudent {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: min-content;

  &__wrapper-mentor {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 100%;  
  }

  &__wrapper-developer {
    width: min-content;
  }

  &__img-git {
    background-size: cover;
  }

  &__img-student {
    background-size: contain;
    height: 300px;
    margin-bottom: 15px;
    object-fit: contain;
    width: 300px;
  }

  &__name-student {
    text-align: center;
  }

  &__wrapper-icon-link {
    height: max-content;
    margin: 0 auto;
    width: max-content;
  }
}

.CardStudent {
  &__header-mentor,
  &__header-team-leader,
  &__header-developer {
    align-items: center;
    display: flex;
    height: 40px;
    justify-content: center;
    position: relative;
  }
  
  &__header-mentor::before,
  &__header-team-leader::before,
  &__header-developer::before {
    content: '';
    height: 30px;
    left: 5px;
    position: absolute;
    top: calc(50% - 15px);
  } 

  &__header-mentor::before {
    background: url('../../img/mentor.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: 60px;
  }

  &__header-team-leader::before {
    background: url('../../img/team-lider.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: 30px;
  }

  &__header-developer::before {
    background: url('../../img/developer.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    width: 30px;
  }


}

@media (max-width: 500px) {
  .CardStudent {
    &__img-student {
      height: 200px;
      width: 200px;
    }

    &__img-git {
      height: 40px;
      width: 40px;
    }
  }
}
