.question {
  font-size: 24px;
  height: 80vh;
  position: relative;

}
  
.question__wrapper {
  display: flex;
  justify-content: center;
  position: relative;
}
  
.question__wrapper_animated {
  animation: moveBot 5s linear infinite;
}

.question__wrapper_animated1 {
  animation: moveBotFaster 1s linear;
}

@keyframes moveBot {
  0% {
    opacity: 1;
    top: 0;
  }

  50% {
    opacity: 0.5;
    top: 25%;
  }

  100% {
    opacity: 0.3;
    top: 50%;
  }
}

@keyframes moveBotFaster {
  0% {
    opacity: 0.5;
    top: 50%;
  }

  100% {
    opacity: 0;
    top: 100%;
  }
}
