.Savanna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.startBtn {
  left: -50%;
  position: absolute;
  top: 100px;
  transform: translateY(-50%);
}
