<<<<<<< HEAD
@import '../../styles-global/index.module';

.Savanna {
  background-image: url('../../img/SavannaBG3.png');
  background-position: left bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: center;
  position: relative;
  width: 100%;

  &__wrapper {
    position: relative;
  }

  &__results {
    background-color: $white-color-transparent;
    border: 2px solid $learning-bad-color;
    left: 50%;
    max-width: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

  }

  &__lives {
    left: 40px;
    position: absolute;
    top: 40px;
  }
  
  &__answers_wrong {
    color: $learning-fail-color;
    font-size: 16px;
  }

  &__answers_right {
    color: $learning-good-color;
    font-size: 16px;
  }
}

.startBtn {
  left: -50%;
  position: absolute;
  top: 100px;
  transform: translateY(-50%);
=======
.Savanna {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
>>>>>>> RSL-34: add simpe game structure
}
