.lowerLimit {
  line-height: 2;
  padding-right: 12px;
  text-align: left;
}

.separatorValue {
  line-height: 0;
  text-align: center;
}

.upperLimit {
  line-height: 2;
  padding-left: 12px;
  text-align: right;
}

.TittleProgress {
  align-items: center;
  display: flex;
  margin-right: 5px;
  text-transform: none;
}
