.GameStartScreen {
  background-image: url('../../img/WhiteModernBackground.jpg');
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  width: 100%;

  &-levels {

    justify-content: center;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
    padding-top: 20px;
  }

  &__title {
    font-size: 32px;
  }

  &__description {
    font-size: 24px;
  }

  &__about {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: 0 20px;
  }

  &-button {
    margin-right: 10px;
    text-decoration: none;
  }

}
