@import '../../styles-global/index.module';

.Header {
  background-color: $white-color;
  box-shadow: 0 1px 6px rgba(13, 16, 61, 0.6);
  height: 80px;
  margin-bottom: 30px;
  width: 100%;

  &__wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 30px;
  }
}


.Header__auth {
  &-container-logout {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-container-login {
    margin: auto;
  }

  &-button {
    cursor: pointer;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin: 0 10px;
    transition: 0.3s;
    user-select: none;
  }

  &-button:hover {
    opacity: 0.3;
    transition: 0.3s;
  }

  &-buttonSeparator {
    user-select: none;
  }
}

.Header__navBar {
  &-button {
    cursor: pointer;
    height: 25px;

    position: absolute;
    top: 30px;
    width: 30px;
    z-index: 3;
  }

  &-button-dash,
  &-button-dash::before,
  &-button-dash::after {
    border: 1px solid #000;
    display: block;
    position: absolute;
    transition-duration: 0.25s;
    width: 100%;
  }

  &-button-dash::before {
    content: '';
    left: -1px;
    top: 11px;
  }

  &-button-dash::after {
    content: '';
    left: -1px;
    top: -13px;
  }
}
