.NavBar {
  background-color: #fff;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  display: block;
  height: 100vh;
  list-style: none;
  position: fixed;
  top: 0;
  transition-duration: 0.25s;
  visibility: hidden;
  width: 350px;
  z-index: 2;
}

.NavBar__LinkContainer {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  margin-left: 40px;
  margin-top: 50px;

  &__Link {
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 100;
    margin-bottom: 30px;
    text-decoration: none;
    transition: 0.3s;
  }

  &__Link:hover {
    opacity: 0.3;
    transition: 0.3s;
  }
}
