.NavBar {
  background-color: #fff;
  box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  height: 100vh;
  list-style: none;
  position: fixed;
  top: 0;
  transition-duration: 0.25s;
  width: 350px;
  z-index: 2;

  &--active {
    display: block;
  }

  &--disable {
    display: none;
  }
}

.NavBar__link {
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-family: sans-serif;
  font-weight: 100;
  margin-bottom: 30px;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    opacity: 0.3;
    transition: 0.3s;
  }

  &--active {
    //background-color: #fff;
    //opacity: 0.3;
  }
}

.NavBar__link-container {
  font-size: 22px;
  user-select: none;
  width: 300px;
}
