.navbartoggle {
  .menutoggle {
    cursor: pointer;
    height: 25px;
    position: fixed;

    position: absolute;
    top: 30px;
    width: 30px;
    z-index: 3;
  }

  .menutoggle > span,
  .menutoggle > span::before,
  .menutoggle > span::after {
    border: 1px solid #000;
    display: block;
    position: absolute;
    transition-duration: 0.25s;
    width: 100%;
  }

  .menutoggle > span::before {
    content: '';
    left: -1px;
    top: 11px;
  }

  .menutoggle > span::after {
    content: '';
    left: -1px;
    top: 22px;
  }
}
