.ModalWindow {
  &__content {
    min-height: 100px;
    min-width: 500px;
  }

  &__title {
    align-items: center;
    color: #000;
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: center;
  }

  &__title::before {
    background: url('../../img/info.png');
    background-position: center;
    background-size: cover;
    content: '';
    display: block;
    height: 50px;
    margin-right: 15px;
    width: 50px;
  }

  &__title-error {
    align-items: center;
    color: #8b0000;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__title-error::before {
    background: url('../../img/error.png');
    background-position: center;
    background-size: cover;
    content: '';
    display: block;
    height: 50px;
    margin-right: 15px;
    width: 50px;
  }

  &__button-ok {
    padding: 20px 50px;
  }
}
