@import '../../styles-global/index.module';

.VoteButtonsPanel {
  @extend %card-shadow;

  background-color: $white-color-transparent;
  border-radius: 5px;
  // left: 50%;
  left: calc(50% - 150px);

  // max-width: 300;
  position: absolute;
  top: -30px;
  // transition: opacity 1s;
  z-index: 4;

  // &__show {
  //   left: calc(50% - 150px);
  //   max-width: 300px;
  //   opacity: 1;
  //   z-index: 5;
  // }
}
