@import '../../styles-global/index.module';

.Footer {
  bottom: 0;
  position: absolute;
  width: 100%;

  &__container {
    background-color: $white-color;
    box-shadow: 0 -1px 6px rgba(13, 16, 61, 0.6);
    height: 70px;
  }

  &__linkRs {
    align-items: center;
    display: flex;
    margin-left: 20px;
    text-decoration: none;
  }

  &__headerRs {
    color: $black-color;
    margin-left: 10px;
  }
}
