.footer {
  &-wrapper {
    background-color: #75b984;
  }

  &-container {
    display: flex;
    padding: 30px 5px;
  }
}

 

.footer-link-about-us,
.footer-link-about-program {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0 20px;
  text-decoration: none;

  &::before {
    content: '';
    display: block;
    height: 30px;
    margin-right: 5px;
    width: 30px;
  }

  &:hover {
    opacity: 0.8;
  }

}

.footer-link {
  &-about-us {
    margin: 0 0 0 20px;
  }

  &-about-program {
    margin: 0 20px 0 auto;
  }

}

.footer-link {
  &-about-us::before {
    background: url('../../img/parentheses.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &-about-program::before {
    background: url('../../img/cat.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

