.Login {
  align-items: center;
  background: #ffffffb5;
  border-radius: 8px;
  display: flex;
  height: 350px;
  justify-content: center;
  width: 375px;
}

.Login__form {

  user-select: none;
  width: 300px;

  &-switcher {
    align-self: flex-start;
    color: #2a2b2b;
    cursor: pointer;
    display: block;
    font-size: 15px;
    margin-top: 16px;
    text-decoration: none;
    transition: 0.3s;
  }

  &-switcher:hover {
    opacity: 0.5;
    transition: 0.3s;
  }

  &-alert {
    color: #b13434;
    font-size: 18px;
    margin-top: 30px;
  }

  &-alert,
  &-switcher {
    font-family: 'Roboto', sans-serif;
  }

}
